<?xml version="1.0" encoding="utf-8" ?>
<cachingConfig>
    <!-- to avoid sending specific cache remove/clear messages to the other servers, add a line like the one below
    <exclude message="Remove" data="mykey" />
    <exclude message="Clear_" data="myPrefix" />
    -->
  <exclude message="Remove" data="DNN_WebServers" />
</cachingConfig>